html{
		font-family: Consolas
	}
	body{
		/*background: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);*/
		background-image: url("../images/bg1.png");
		/*background: linear-gradient(90deg, #fdfbfb 0%, #ebedee 100%);*/

	}
	a:link, a:visited, a:hover, a:active { text-decoration: none; color: #929292;font-style: italic;}

	#main{
			margin: 7% auto;
	}
	#title{
		position: relative;
		text-align: center;
	}
	#user{
				background-color: #f3f1f2;
				background-image: url("../images/input.png");
				background-repeat: no-repeat;
				background-size: contain;
				width: 416px;
				height: 58px;
				border: 0px;
				font-size: 24px;
				text-indent: 1em;
				outline: none;
				margin-top: 20px;
	}
	#submit{
				background-color: #f3f1f2;
				background-image: url("../images/sign.png");
				background-repeat: no-repeat;
				background-size: contain;
				width: 424px;
				height: 59px;
				border: 0px;
				outline: none;
				margin-top: 20px;
	}

	#submit:hover{
				background-color: #f3f1f2;
				background-image: url("../images/signhover.png");
				background-repeat: no-repeat;
				background-size: contain;
				width: 424px;
				height: 59px;
				border: 0px;
				outline: none;
				margin-top: 20px;
	}

	#input{
		text-align: center;
	}

	#forget{
		margin-top: 20px;
		font-size: 20px;
		text-align: center;

	}
	#register{
		position: absolute;
		top: 20px;
		right: 35px;
	}

